.Upload_paper{
  width:7.5in;
  align-items: flex-start;
  margin-left: 0% !important;
  flex-direction: column;
  margin: 0% !important;
}

.submitBtn{
  position:relative;
  bottom:3.5rem;
  left:35rem;
}

.Upload_Info{
margin-top: 0% !important;
width: 100%;
}

.viewerPdf{
  /* margin-top: 0% !important; */
 bottom:7rem;
 width: 100%;
 height: 7in;
}
.pdfViewAdd{
 overflow-y: scroll;
}

.accordion-container{
 margin-top: 0% !important;
 height: 9in;
 width: 40%;
}

.submitBtn {
  display: flex;
}