.Upload_paper{
  width:7.5in;
  align-items: flex-start;
  margin-left: 0% !important;
  flex-direction: column;
  margin: 0% !important;
}

.submitBtn{
  position:relative;
  bottom:3.5rem;
  left:35rem;
}

.Upload_Info{
margin-top: 0% !important;
width: 100%;
}

.viewerPdf{
<<<<<<< HEAD

  position:relative;
  left:50%;
  bottom:7rem;
  width:9in;
  height:9in;
}
.pdfViewAdd{
  overflow-y: scroll;
}

.accordion-container{
  position: relative;
    bottom: 240px;
=======
  /* margin-top: 0% !important; */
 bottom:7rem;
 width: 100%;
 height: 7in;
}
.pdfViewAdd{
 overflow-y: scroll;
}

.accordion-container{
 margin-top: 0% !important;
<<<<<<< HEAD
 max-height:9in;
>>>>>>> 6bb8df598a8782113d700c52e695355c03fc40d3
=======
 height: 9in;
 width: 40%;
}

.submitBtn {
  display: flex;
>>>>>>> af731a4b601ca3e1b9eef5b4e8ea2c209d38c934
}